<h1>Create Around</h1>

<form action="/Arounds/create" method="post">
  <div class="form-group">
    <label for="idPlace">idPlace*</label>
    <input class="form-control" type="text" id="idPlace" name="idPlace" placeholder="Nom" required>
  </div>

  <div class="form-group">
    <label for="distance">Distance*</label>
    <input class="form-control" type="number" id="distance" name="distance" placeholder="Durée en min" required>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-primary">
      Create
    </button>
  </div>
</form>