<h1>Create UserUpdate</h1>

<form action="/UserUpdates/create" method="post">
  <div class="form-group">
    <label for="username">Username*</label>
    <input class="form-control" type="text" id="username" name="username" placeholder="Nom" required>
  </div>

  <div class="form-group">
    <label for="idPlace">Place*</label>
    <select class="form-control" id="idPlace" name="idPlace" required>
      {{#list places}}
      <option value={{id}}>{{name}}</option>
      {{/list}}
    </select>
  </div>

  <div class="form-group">
    <label for="duration">Duration*</label>
    <input class="form-control" type="number" id="duration" name="duration" placeholder="Nombre de places" required>
  </div>

 <div class="form-group">
    <label for="creation">Creation*</label>
    <input class="form-control" type="number" id="creation" name="creation" placeholder="Nombre de places" required>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-primary">
      Create
    </button>
  </div>
</form>